body {
  background: rgb(111, 111, 111);
}

.board {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tile {
  width: 7px;
  height: 7px;
  margin: 0.5px;
}

.alive {
  background: rgb(246, 127, 58);
  
}

.dead {
  background: rgb(40, 40, 40);
}